# 데이터 준비

In [51]:
import pandas as pd
import numpy as np

In [52]:
file='서울시 지하철 호선별 역별 시간대별 승하차 인원 정보.csv'

In [53]:
subway=pd.read_csv(file, encoding='cp949')

In [54]:
subway

,사용월,호선명,지하철역,04시-05시 승차인원,04시-05시 하차인원,05시-06시 승차인원,05시-06시 하차인원,06시-07시 승차인원,06시-07시 하차인원,07시-08시 승차인원,...,23시-24시 하차인원,00시-01시 승차인원,00시-01시 하차인원,01시-02시 승차인원,01시-02시 하차인원,02시-03시 승차인원,02시-03시 하차인원,03시-04시 승차인원,03시-04시 하차인원,작업일자
0,202306,1호선,동대문,854,33,11997,2157,9533,7157,14547,...,9146,624,2562,3,247,0,0,0,0,20230703
1,202306,1호선,동묘앞,228,2,3088,1143,3886,5140,7501,...,4379,111,1761,0,331,0,0,0,0,20230703
2,202306,1호선,서울역,677,33,8470,9569,13528,54052,44183,...,14949,2554,2856,0,229,0,0,0,0,20230703
3,202306,1호선,시청,61,1,2351,4528,3862,24513,7856,...,4535,334,1075,0,36,1,0,0,0,20230703
4,202306,1호선,신설동,494,24,9258,2481,9513,8392,22078,...,9722,434,2294,1,0,1,0,0,0,20230703
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60017,201501,중앙선,운길산,0,0,177,56,642,403,1292,...,633,3,222,0,0,0,0,0,0,20151223
60018,201501,중앙선,원덕,1,0,292,4,415,46,537,...,383,3,157,0,0,0,0,0,0,20151223
60019,201501,중앙선,중랑,14,1,4929,424,8539,2084,22160,...,6501,86,1617,0,0,0,0,0,0,20151223
60020,201501,중앙선,팔당,0,0,161,50,368,149,1227,...,336,8,85,0,0,0,0,0,0,20151223
60021,201501,중앙선,회기,436,3,10929,3067,23317,10430,65043,...,35702,767,9314,0,0,0,0,0,0,20151223

# 데이터 확인

In [55]:
subway.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60022 entries, 0 to 60021
Data columns (total 52 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   사용월           60022 non-null  int64
 1   호선명           60022 non-null  object
 2   지하철역          60022 non-null  object
 3   04시-05시 승차인원  60022 non-null  int64
 4   04시-05시 하차인원  60022 non-null  int64
 5   05시-06시 승차인원  60022 non-null  int64
 6   05시-06시 하차인원  60022 non-null  int64
 7   06시-07시 승차인원  60022 non-null  int64
 8   06시-07시 하차인원  60022 non-null  int64
 9   07시-08시 승차인원  60022 non-null  int64
 10  07시-08시 하차인원  60022 non-null  int64
 11  08시-09시 승차인원  60022 non-null  int64
 12  08시-09시 하차인원  60022 non-null  int64
 13  09시-10시 승차인원  60022 non-null  int64
 14  09시-10시 하차인원  60022 non-null  int64
 15  10시-11시 승차인원  60022 non-null  int64
 16  10시-11시 하차인원  60022 non-null  int64
 17  11시-12시 승차인원  60022 non-null  int64
 18  11시-12시 하차인원  60022 non-null  int64
 19  12시-13시 승차인원  60022 non-null  int64
 20  12시-13시 하차인원  60022 non-null  int64
 21  13시-14시 승차인원  60022 non-null  int64
 22  13시-14시 하차인원  60022 non-null  int64
 23  14시-15시 승차인원  60022 non-null  int64
 24  14시-15시 하차인원  60022 non-null  int64
 25  15시-16시 승차인원  60022 non-null  int64
 26  15시-16시 하차인원  60022 non-null  int64
 27  16시-17시 승차인원  60022 non-null  int64
 28  16시-17시 하차인원  60022 non-null  int64
 29  17시-18시 승차인원  60022 non-null  int64
 30  17시-18시 하차인원  60022 non-null  int64
 31  18시-19시 승차인원  60022 non-null  int64
 32  18시-19시 하차인원  60022 non-null  int64
 33  19시-20시 승차인원  60022 non-null  int64
 34  19시-20시 하차인원  60022 non-null  int64
 35  20시-21시 승차인원  60022 non-null  int64
 36  20시-21시 하차인원  60022 non-null  int64
 37  21시-22시 승차인원  60022 non-null  int64
 38  21시-22시 하차인원  60022 non-null  int64
 39  22시-23시 승차인원  60022 non-null  int64
 40  22시-23시 하차인원  60022 non-null  int64
 41  23시-24시 승차인원  60022 non-null  int64
 42  23시-24시 하차인원  60022 non-null  int64
 43  00시-01시 승차인원  60022 non-null  int64
 44  00시-01시 하차인원  60022 non-null  int64
 45  01시-02시 승차인원  60022 non-null  int64
 46  01시-02시 하차인원  60022 non-null  int64
 47  02시-03시 승차인원  60022 non-null  int64
 48  02시-03시 하차인원  60022 non-null  int64
 49  03시-04시 승차인원  60022 non-null  int64
 50  03시-04시 하차인원  60022 non-null  int64
 51  작업일자          60022 non-null  int64
dtypes: int64(50), object(2)
memory usage: 23.8+ MB

In [56]:
subway.head(5)

,사용월,호선명,지하철역,04시-05시 승차인원,04시-05시 하차인원,05시-06시 승차인원,05시-06시 하차인원,06시-07시 승차인원,06시-07시 하차인원,07시-08시 승차인원,...,23시-24시 하차인원,00시-01시 승차인원,00시-01시 하차인원,01시-02시 승차인원,01시-02시 하차인원,02시-03시 승차인원,02시-03시 하차인원,03시-04시 승차인원,03시-04시 하차인원,작업일자
0,202306,1호선,동대문,854,33,11997,2157,9533,7157,14547,...,9146,624,2562,3,247,0,0,0,0,20230703
1,202306,1호선,동묘앞,228,2,3088,1143,3886,5140,7501,...,4379,111,1761,0,331,0,0,0,0,20230703
2,202306,1호선,서울역,677,33,8470,9569,13528,54052,44183,...,14949,2554,2856,0,229,0,0,0,0,20230703
3,202306,1호선,시청,61,1,2351,4528,3862,24513,7856,...,4535,334,1075,0,36,1,0,0,0,20230703
4,202306,1호선,신설동,494,24,9258,2481,9513,8392,22078,...,9722,434,2294,1,0,1,0,0,0,20230703

In [57]:
subway.isnull().sum()

사용월             0
호선명             0
지하철역            0
04시-05시 승차인원    0
04시-05시 하차인원    0
05시-06시 승차인원    0
05시-06시 하차인원    0
06시-07시 승차인원    0
06시-07시 하차인원    0
07시-08시 승차인원    0
07시-08시 하차인원    0
08시-09시 승차인원    0
08시-09시 하차인원    0
09시-10시 승차인원    0
09시-10시 하차인원    0
10시-11시 승차인원    0
10시-11시 하차인원    0
11시-12시 승차인원    0
11시-12시 하차인원    0
12시-13시 승차인원    0
12시-13시 하차인원    0
13시-14시 승차인원    0
13시-14시 하차인원    0
14시-15시 승차인원    0
14시-15시 하차인원    0
15시-16시 승차인원    0
15시-16시 하차인원    0
16시-17시 승차인원    0
16시-17시 하차인원    0
17시-18시 승차인원    0
17시-18시 하차인원    0
18시-19시 승차인원    0
18시-19시 하차인원    0
19시-20시 승차인원    0
19시-20시 하차인원    0
20시-21시 승차인원    0
20시-21시 하차인원    0
21시-22시 승차인원    0
21시-22시 하차인원    0
22시-23시 승차인원    0
22시-23시 하차인원    0
23시-24시 승차인원    0
23시-24시 하차인원    0
00시-01시 승차인원    0
00시-01시 하차인원    0
01시-02시 승차인원    0
01시-02시 하차인원    0
02시-03시 승차인원    0
02시-03시 하차인원    0
03시-04시 승차인원    0
03시-04시 하차인원    0
작업일자            0
dtype: int64

# 데이터 정리

### 1) 2022년도 1월, 2월, 12월 자르기

In [58]:
subway22=subway['사용월'].isin([202201,202202,202212])

In [59]:
subway22

0        False
1        False
2        False
3        False
4        False
         ...
60017    False
60018    False
60019    False
60020    False
60021    False
Name: 사용월, Length: 60022, dtype: bool

In [60]:
subway22winter=subway.loc[subway22]

In [61]:
subway22winter

,사용월,호선명,지하철역,04시-05시 승차인원,04시-05시 하차인원,05시-06시 승차인원,05시-06시 하차인원,06시-07시 승차인원,06시-07시 하차인원,07시-08시 승차인원,...,23시-24시 하차인원,00시-01시 승차인원,00시-01시 하차인원,01시-02시 승차인원,01시-02시 하차인원,02시-03시 승차인원,02시-03시 하차인원,03시-04시 승차인원,03시-04시 하차인원,작업일자
3683,202212,1호선,동대문,762,8,10546,1950,8505,5809,13440,...,8824,588,2402,23,254,1,4,0,0,20230103
3684,202212,1호선,동묘앞,194,5,2748,1031,3605,4484,6064,...,3859,122,1683,2,453,0,36,0,0,20230103
3685,202212,1호선,서울역,604,24,8028,7918,12137,44148,38148,...,15356,2776,3500,43,707,1,46,0,0,20230103
3686,202212,1호선,시청,127,1,2197,4277,3713,21598,7195,...,4727,1934,1126,102,110,2,7,0,0,20230103
3687,202212,1호선,신설동,348,13,8308,2096,8716,7826,20270,...,9203,393,2276,13,85,0,6,0,0,20230103
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11031,202201,중앙선,원덕,21,0,240,5,545,65,531,...,198,1,16,0,0,0,0,0,0,20220203
11032,202201,중앙선,중랑,98,1,4798,428,8319,1761,19597,...,2339,4,171,0,0,0,0,0,0,20220203
11033,202201,중앙선,지평,0,0,0,0,3,1,224,...,0,0,0,0,0,0,0,0,0,20220203
11034,202201,중앙선,팔당,0,0,167,44,431,458,859,...,200,0,0,0,0,0,0,0,0,20220203
11035,202201,중앙선,회기,508,4,10222,2980,17512,9244,48541,...,11977,46,1709,0,0,0,0,0,0,20220203

In [62]:
subway22winter.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1831 entries, 3683 to 11035
Data columns (total 52 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   사용월           1831 non-null   int64
 1   호선명           1831 non-null   object
 2   지하철역          1831 non-null   object
 3   04시-05시 승차인원  1831 non-null   int64
 4   04시-05시 하차인원  1831 non-null   int64
 5   05시-06시 승차인원  1831 non-null   int64
 6   05시-06시 하차인원  1831 non-null   int64
 7   06시-07시 승차인원  1831 non-null   int64
 8   06시-07시 하차인원  1831 non-null   int64
 9   07시-08시 승차인원  1831 non-null   int64
 10  07시-08시 하차인원  1831 non-null   int64
 11  08시-09시 승차인원  1831 non-null   int64
 12  08시-09시 하차인원  1831 non-null   int64
 13  09시-10시 승차인원  1831 non-null   int64
 14  09시-10시 하차인원  1831 non-null   int64
 15  10시-11시 승차인원  1831 non-null   int64
 16  10시-11시 하차인원  1831 non-null   int64
 17  11시-12시 승차인원  1831 non-null   int64
 18  11시-12시 하차인원  1831 non-null   int64
 19  12시-13시 승차인원  1831 non-null   int64
 20  12시-13시 하차인원  1831 non-null   int64
 21  13시-14시 승차인원  1831 non-null   int64
 22  13시-14시 하차인원  1831 non-null   int64
 23  14시-15시 승차인원  1831 non-null   int64
 24  14시-15시 하차인원  1831 non-null   int64
 25  15시-16시 승차인원  1831 non-null   int64
 26  15시-16시 하차인원  1831 non-null   int64
 27  16시-17시 승차인원  1831 non-null   int64
 28  16시-17시 하차인원  1831 non-null   int64
 29  17시-18시 승차인원  1831 non-null   int64
 30  17시-18시 하차인원  1831 non-null   int64
 31  18시-19시 승차인원  1831 non-null   int64
 32  18시-19시 하차인원  1831 non-null   int64
 33  19시-20시 승차인원  1831 non-null   int64
 34  19시-20시 하차인원  1831 non-null   int64
 35  20시-21시 승차인원  1831 non-null   int64
 36  20시-21시 하차인원  1831 non-null   int64
 37  21시-22시 승차인원  1831 non-null   int64
 38  21시-22시 하차인원  1831 non-null   int64
 39  22시-23시 승차인원  1831 non-null   int64
 40  22시-23시 하차인원  1831 non-null   int64
 41  23시-24시 승차인원  1831 non-null   int64
 42  23시-24시 하차인원  1831 non-null   int64
 43  00시-01시 승차인원  1831 non-null   int64
 44  00시-01시 하차인원  1831 non-null   int64
 45  01시-02시 승차인원  1831 non-null   int64
 46  01시-02시 하차인원  1831 non-null   int64
 47  02시-03시 승차인원  1831 non-null   int64
 48  02시-03시 하차인원  1831 non-null   int64
 49  03시-04시 승차인원  1831 non-null   int64
 50  03시-04시 하차인원  1831 non-null   int64
 51  작업일자          1831 non-null   int64
dtypes: int64(50), object(2)
memory usage: 758.1+ KB

### 2) 승차, 하차 인원 합계 구하기

In [63]:
subway22winterT=subway22winter.T

In [64]:
subway22winterT

,3683,3684,3685,3686,3687,3688,3689,3690,3691,3692,...,11026,11027,11028,11029,11030,11031,11032,11033,11034,11035
사용월,202212,202212,202212,202212,202212,202212,202212,202212,202212,202212,...,202201,202201,202201,202201,202201,202201,202201,202201,202201,202201
호선명,1호선,1호선,1호선,1호선,1호선,1호선,1호선,1호선,1호선,1호선,...,중앙선,중앙선,중앙선,중앙선,중앙선,중앙선,중앙선,중앙선,중앙선,중앙선
지하철역,동대문,동묘앞,서울역,시청,신설동,제기동,종각,종로3가,종로5가,청량리(서울시립대입구),...,양정,양평,오빈,용문,운길산,원덕,중랑,지평,팔당,회기
04시-05시 승차인원,762,194,604,127,348,383,134,116,28,847,...,43,19,1,294,0,21,98,0,0,508
04시-05시 하차인원,8,5,24,1,13,2,4,8,1,10,...,0,1,0,0,0,0,1,0,0,4
05시-06시 승차인원,10546,2748,8028,2197,8308,4520,3869,3708,1617,10288,...,277,1045,123,721,152,240,4798,0,167,10222
05시-06시 하차인원,1950,1031,7918,4277,2096,1756,4625,2898,3511,3323,...,44,53,1,9,40,5,428,0,44,2980
06시-07시 승차인원,8505,3605,12137,3713,8716,7665,4670,3701,2609,14099,...,646,2541,401,1504,389,545,8319,3,431,17512
06시-07시 하차인원,5809,4484,44148,21598,7826,7650,21956,12979,13764,21108,...,833,1525,183,422,260,65,1761,1,458,9244
07시-08시 승차인원,13440,6064,38148,7195,20270,21505,6369,5176,4987,35488,...,1668,4581,684,2227,1271,531,19597,224,859,48541
07시-08시 하차인원,10380,8011,100206,61522,21977,18216,95122,23591,39185,16385,...,1535,2186,159,1108,435,228,2566,120,1221,20431
08시-09시 승차인원,18824,10633,66885,9565,30116,32488,10271,8742,8518,46204,...,1338,3926,628,3149,1161,799,19414,207,1059,65971
08시-09시 하차인원,19859,19614,212880,191043,55144,37105,243983,68025,98661,33674,...,2139,5178,408,1958,833,313,5593,62,2317,39766
09시-10시 승차인원,18641,8934,57091,11529,19563,21781,12959,13883,12247,28871,...,853,3632,675,2646,953,691,13128,2,934,42307
09시-10시 하차인원,21156,16106,153222,93176,32225,29170,145883,64870,64096,30277,...,904,3057,288,1700,1503,303,4326,0,3047,26847
10시-11시 승차인원,16546,9662,59851,15194,17631,22877,17880,18648,19601,27068,...,737,4822,666,3156,825,720,8096,423,850,32328
10시-11시 하차인원,21489,17978,82986,43226,21808,33045,64309,55181,55103,33381,...,643,3784,353,2881,2132,568,4114,297,2765,24821
11시-12시 승차인원,18381,14509,78423,22724,20105,30385,28787,29457,32596,32973,...,796,4279,570,2809,874,608,7888,0,966,34046
11시-12시 하차인원,25798,24904,73091,43034,19364,42701,64042,67422,61881,40707,...,727,5227,298,5059,1499,569,4531,2,2224,21903
12시-13시 승차인원,22990,20576,87639,24603,21661,37192,35983,42495,43503,38677,...,786,5085,502,3706,988,535,7792,5,1235,37004
12시-13시 하차인원,26741,29326,85302,39679,18770,48897,55949,72963,60501,42951,...,675,5476,379,6085,1845,693,5531,2,2348,25872
13시-14시 승차인원,25110,26930,88454,29949,23362,41078,44614,49213,52824,41907,...,877,5603,535,4873,1291,562,8395,52,1296,35070
13시-14시 하차인원,24552,32414,84810,40146,19349,50789,53998,65514,56022,46388,...,525,4433,338,3716,1106,376,6112,163,1572,30467
14시-15시 승차인원,27548,31647,77844,37984,23962,46013,56274,60635,62374,45204,...,992,5694,351,5516,1681,769,7237,390,1690,35938
14시-15시 하차인원,23536,30359,74634,34552,18973,47770,47862,58958,52446,47439,...,615,5088,274,4314,1196,549,6298,285,1545,28418
15시-16시 승차인원,28399,33723,98797,49761,25588,51468,72399,70611,66538,50559,...,1000,5109,421,5787,2359,585,6907,0,2276,40094
15시-16시 하차인원,22835,25397,82501,31743,20057,38724,43165,49294,46157,44884,...,708,5489,530,3998,877,632,8930,1,1590,31209
16시-17시 승차인원,29057,35073,118826,58514,31311,49192,82050,77622,71606,58288,...,1408,5978,431,4422,2151,737,6510,0,2399,41582
16시-17시 하차인원,21836,17921,86127,34403,21850,32260,49523,47088,42383,40959,...,715,4577,538,3265,889,635,9989,0,1383,34815
17시-18시 승차인원,27937,28363,172813,89785,39984,43286,143509,89099,91329,51970,...,2024,5077,505,3038,1818,487,6102,104,2572,46800
17시-18시 하차인원,20960,12638,97338,37748,24533,26739,60596,46205,37546,39589,...,928,5393,848,3928,802,848,13608,115,1307,45507
18시-19시 승차인원,23840,16538,211286,164532,50985,37040,209305,98764,97321,39775,...,2075,5136,339,2019,1084,346,6406,62,2484,37682
18시-19시 하차인원,20880,10124,101385,33842,30270,27277,66161,44583,33817,46500,...,1006,5517,588,2737,693,665,20120,190,1372,66391
19시-20시 승차인원,17073,7857,111667,68288,20215,18618,92139,59754,52071,21477,...,625,2198,186,1230,510,207,4138,117,1657,21121
19시-20시 하차인원,19232,7483,69010,16723,20539,18357,32080,21801,18154,30721,...,959,3715,492,2428,1157,545,13438,246,887,51129
20시-21시 승차인원,14042,5220,83684,59372,14664,12939,86706,49445,38201,17450,...,456,2372,109,595,435,83,3241,0,1637,20609
20시-21시 하차인원,13375,5862,51711,10126,14372,12222,15207,11420,9220,19281,...,542,4235,352,2440,406,338,9910,1,505,32515
21시-22시 승차인원,13368,4406,86082,59335,12664,9208,100519,52669,36409,13960,...,316,2483,49,632,244,53,3349,24,1656,25977
21시-22시 하차인원,11520,5628,46253,9012,14223,11633,11497,9270,7149,18871,...,478,2669,515,1770,587,499,9288,85,529,47311
22시-23시 승차인원,10411,3394,59774,39531,9080,5751,80128,42196,21565,8744,...,129,1106,16,203,74,26,1282,6,597,10880
22시-23시 하차인원,11303,6372,30941,6960,12773,11182,9535,7182,5505,16738,...,452,2578,329,1267,597,298,7728,77,464,33291
23시-24시 승차인원,4793,1358,26461,13533,3964,2328,36262,19155,7731,3503,...,40,128,3,1,13,6,480,0,78,3595
23시-24시 하차인원,8824,3859,15356,4727,9203,7434,4615,5931,3217,10534,...,176,1939,170,961,170,198,2339,0,200,11977
00시-01시 승차인원,588,122,2776,1934,393,156,1575,4646,461,214,...,7,4,0,0,0,1,4,0,0,46
00시-01시 하차인원,2402,1683,3500,1126,2276,1550,1058,2064,939,4145,...,27,97,2,193,0,16,171,0,0,1709
01시-02시 승차인원,23,2,43,102,13,16,434,299,14,4,...,0,0,0,0,0,0,0,0,0,0
01시-02시 하차인원,254,453,707,110,85,50,81,188,39,321,...,0,0,0,0,0,0,0,0,0,0
02시-03시 승차인원,1,0,1,2,0,0,0,4,0,0,...,0,0,0,0,0,0,0,0,0,0
02시-03시 하차인원,4,36,46,7,6,1,2,14,1,0,...,0,0,0,0,0,0,0,0,0,0
03시-04시 승차인원,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
03시-04시 하차인원,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
작업일자,20230103,20230103,20230103,20230103,20230103,20230103,20230103,20230103,20230103,20230103,...,20220203,20220203,20220203,20220203,20220203,20220203,20220203,20220203,20220203,20220203

In [65]:
subway22winterTs=subway22winterT.copy()[0:3]

In [66]:
subway22winterTs

,3683,3684,3685,3686,3687,3688,3689,3690,3691,3692,...,11026,11027,11028,11029,11030,11031,11032,11033,11034,11035
사용월,202212,202212,202212,202212,202212,202212,202212,202212,202212,202212,...,202201,202201,202201,202201,202201,202201,202201,202201,202201,202201
호선명,1호선,1호선,1호선,1호선,1호선,1호선,1호선,1호선,1호선,1호선,...,중앙선,중앙선,중앙선,중앙선,중앙선,중앙선,중앙선,중앙선,중앙선,중앙선
지하철역,동대문,동묘앞,서울역,시청,신설동,제기동,종각,종로3가,종로5가,청량리(서울시립대입구),...,양정,양평,오빈,용문,운길산,원덕,중랑,지평,팔당,회기

In [67]:
subway22winterT_in=subway22winterT.iloc[3:-1:2].sum()

In [68]:
subway22winterT_out=subway22winterT.iloc[4:-1:2].sum()

In [69]:
subway22winterTs.loc['승차인원 합계']=subway22winterT_in
subway22winterTs.loc['하차인원 합계']=subway22winterT_out

In [70]:
subway22winterTs

,3683,3684,3685,3686,3687,3688,3689,3690,3691,3692,...,11026,11027,11028,11029,11030,11031,11032,11033,11034,11035
사용월,202212,202212,202212,202212,202212,202212,202212,202212,202212,202212,...,202201,202201,202201,202201,202201,202201,202201,202201,202201,202201
호선명,1호선,1호선,1호선,1호선,1호선,1호선,1호선,1호선,1호선,1호선,...,중앙선,중앙선,중앙선,중앙선,중앙선,중앙선,중앙선,중앙선,중앙선,중앙선
지하철역,동대문,동묘앞,서울역,시청,신설동,제기동,종각,종로3가,종로5가,청량리(서울시립대입구),...,양정,양평,오빈,용문,운길산,원덕,중랑,지평,팔당,회기
승차인원 합계,350825,271558,1547314,769469,402903,495889,1126836,800038,724150,587570,...,17093,70818,7195,48528,18273,8552,143181,1619,24843,607833
하차인원 합계,334703,281688,1504096,758781,387732,504530,1091253,737449,709298,588186,...,14631,72217,7045,50239,17027,8343,136782,1647,25778,586607

In [71]:
subwaywinter=subway22winterTs.T

#### 2-1) 결과

In [72]:
subwaywinter

          사용월  호선명 지하철역  승차인원 합계  하차인원 합계
3683   202212  1호선  동대문   350825   334703
3684   202212  1호선  동묘앞   271558   281688
3685   202212  1호선  서울역  1547314  1504096
3686   202212  1호선   시청   769469   758781
3687   202212  1호선  신설동   402903   387732
...       ...  ...  ...      ...      ...
11031  202201  중앙선   원덕     8552     8343
11032  202201  중앙선   중랑   143181   136782
11033  202201  중앙선   지평     1619     1647
11034  202201  중앙선   팔당    24843    25778
11035  202201  중앙선   회기   607833   586607

[1831 rows x 5 columns]

In [73]:
subwaywinter.set_index(['사용월'],inplace=True)

### 3) 월별 승차, 하차 상위 하위 5개씩 구하기

In [74]:
subwaywinter01=subwaywinter.loc[202201]
subwaywinter02=subwaywinter.loc[202202]
subwaywinter12=subwaywinter.loc[202212]

#### 3-1) 1월 승차인원, 합차인원

In [75]:
subwaywinter01

        호선명 지하철역  승차인원 합계  하차인원 합계
사용월
202201  1호선  동대문   296063   279038
202201  1호선  동묘앞   242998   251102
202201  1호선  서울역  1085116  1045157
202201  1호선   시청   505634   505751
202201  1호선  신설동   347922   335574
...     ...  ...      ...      ...
202201  중앙선   원덕     8552     8343
202201  중앙선   중랑   143181   136782
202201  중앙선   지평     1619     1647
202201  중앙선   팔당    24843    25778
202201  중앙선   회기   607833   586607

[610 rows x 4 columns]

#### 3-2) 2월 승차인원, 합차인원

In [76]:
subwaywinter02

        호선명 지하철역 승차인원 합계 하차인원 합계
사용월
202202  1호선  동대문  250311  236114
202202  1호선  동묘앞  203809  212000
202202  1호선  서울역  913411  856407
202202  1호선   시청  431588  437811
202202  1호선  신설동  298421  292391
...     ...  ...     ...     ...
202202  중앙선   원덕    7838    7322
202202  중앙선   중랑  123144  119124
202202  중앙선   지평    1438    1376
202202  중앙선   팔당   22136   23602
202202  중앙선   회기  524220  517483

[608 rows x 4 columns]

#### 3-3) 3월 승차인원, 합차인원

In [77]:
subwaywinter12

        호선명 지하철역  승차인원 합계  하차인원 합계
사용월
202212  1호선  동대문   350825   334703
202212  1호선  동묘앞   271558   281688
202212  1호선  서울역  1547314  1504096
202212  1호선   시청   769469   758781
202212  1호선  신설동   402903   387732
...     ...  ...      ...      ...
202212  중앙선   원덕    10381     9826
202212  중앙선   중랑   165584   157627
202212  중앙선   지평     1614     1570
202212  중앙선   팔당    25073    26297
202212  중앙선   회기   799745   765265

[613 rows x 4 columns]

#### 3-4) 월별 승하차인원 상위,하위역

In [78]:
# 1,2,12월 승차인원 상5
subwaywinter01_on_t=subwaywinter01.sort_values('승차인원 합계',ascending=False).iloc[:5].reset_index(drop=True)
subwaywinter02_on_t=subwaywinter02.sort_values('승차인원 합계',ascending=False).iloc[:5].reset_index(drop=True)
subwaywinter12_on_t=subwaywinter12.sort_values('승차인원 합계',ascending=False).iloc[:5].reset_index(drop=True)

# 1,2,12월 하차인원 상5
subwaywinter01_off_t=subwaywinter01.sort_values('하차인원 합계',ascending=False).iloc[:5].reset_index(drop=True)
subwaywinter02_off_t=subwaywinter02.sort_values('하차인원 합계',ascending=False).iloc[:5].reset_index(drop=True)
subwaywinter12_off_t=subwaywinter12.sort_values('하차인원 합계',ascending=False).iloc[:5].reset_index(drop=True)


# 1,2,12월 승차인원 하5
subwaywinter01_on_w=subwaywinter01.sort_values('승차인원 합계',ascending=False).iloc[-5:].reset_index(drop=True)
subwaywinter02_on_w=subwaywinter02.sort_values('승차인원 합계',ascending=False).iloc[-5:].reset_index(drop=True)
subwaywinter12_on_w=subwaywinter12.sort_values('승차인원 합계',ascending=False).iloc[-5:].reset_index(drop=True)

# 1,2,12월 하차인원 하5
subwaywinter01_off_w=subwaywinter01.sort_values('하차인원 합계',ascending=False).iloc[-5:].reset_index(drop=True)
subwaywinter02_off_w=subwaywinter02.sort_values('하차인원 합계',ascending=False).iloc[-5:].reset_index(drop=True)
subwaywinter12_off_w=subwaywinter12.sort_values('하차인원 합계',ascending=False).iloc[-5:].reset_index(drop=True)

In [79]:
subwaywinter01_off_t

   호선명      지하철역  승차인원 합계  하차인원 합계
0  2호선        강남  2200763  2140682
1  2호선  잠실(송파구청)  1846733  1813594
2  2호선        신림  1645306  1601288
3  2호선      홍대입구  1557231  1584526
4  2호선   구로디지털단지  1458026  1453666

In [80]:
# 1,2,12월 승차인원 상5에서 하차인원 합계열 제거
subwaywinter01_on_t.drop('하차인원 합계',axis=1,inplace=True)
subwaywinter02_on_t.drop('하차인원 합계',axis=1,inplace=True)
subwaywinter12_on_t.drop('하차인원 합계',axis=1,inplace=True)

# 1,2,12월 승차인원 하5에서 하차인원 합계열 제거
subwaywinter01_on_w.drop('하차인원 합계',axis=1,inplace=True)
subwaywinter02_on_w.drop('하차인원 합계',axis=1,inplace=True)
subwaywinter12_on_w.drop('하차인원 합계',axis=1,inplace=True)


# 1,2,12월 하차인원 상5에서 승차인원 합계열 제거
subwaywinter01_off_t.drop('승차인원 합계',axis=1,inplace=True)
subwaywinter02_off_t.drop('승차인원 합계',axis=1,inplace=True)
subwaywinter12_off_t.drop('승차인원 합계',axis=1,inplace=True)

# 1,2,12월 하차인원 하5에서 승차인원 합계열 제거
subwaywinter01_off_w.drop('승차인원 합계',axis=1,inplace=True)
subwaywinter02_off_w.drop('승차인원 합계',axis=1,inplace=True)
subwaywinter12_off_w.drop('승차인원 합계',axis=1,inplace=True)

In [81]:
# 승차인원 합계 / 하차인원 합계 변경 =====> 승차상위 5개 / 하차상위 5개

subwaywinter01_on_t.rename(columns={'승차인원 합계':'승차상위 5개'},inplace=True)
subwaywinter02_on_t.rename(columns={'승차인원 합계':'승차상위 5개'},inplace=True)
subwaywinter12_on_t.rename(columns={'승차인원 합계':'승차상위 5개'},inplace=True)


subwaywinter01_on_w.rename(columns={'승차인원 합계':'승차하위 5개'},inplace=True)
subwaywinter02_on_w.rename(columns={'승차인원 합계':'승차하위 5개'},inplace=True)
subwaywinter12_on_w.rename(columns={'승차인원 합계':'승차하위 5개'},inplace=True)


subwaywinter01_off_t.rename(columns={'하차인원 합계':'하차상위 5개'},inplace=True)
subwaywinter02_off_t.rename(columns={'하차인원 합계':'하차상위 5개'},inplace=True)
subwaywinter12_off_t.rename(columns={'하차인원 합계':'하차상위 5개'},inplace=True)

subwaywinter01_off_w.rename(columns={'하차인원 합계':'하차하위 5개'},inplace=True)
subwaywinter02_off_w.rename(columns={'하차인원 합계':'하차하위 5개'},inplace=True)
subwaywinter12_off_w.rename(columns={'하차인원 합계':'하차하위 5개'},inplace=True)

In [82]:
# 1월 자료 합치기 전에 슬라이싱
subwaywinter01_off_t=subwaywinter01_off_t[subwaywinter01_off_t.columns[:]]
subwaywinter01_on_w=subwaywinter01_on_w[subwaywinter01_on_w.columns[:]]
subwaywinter01_off_w=subwaywinter01_off_w[subwaywinter01_off_w.columns[:]]

# 2월 자료 슬라이싱
subwaywinter02_off_t=subwaywinter02_off_t[subwaywinter02_off_t.columns[:]]
subwaywinter02_on_w=subwaywinter02_on_w[subwaywinter02_on_w.columns[:]]
subwaywinter02_off_w=subwaywinter02_off_w[subwaywinter02_off_w.columns[:]]

# 12월 자료 슬라이싱
subwaywinter12_off_t=subwaywinter12_off_t[subwaywinter02_off_t.columns[:]]
subwaywinter12_on_w=subwaywinter12_on_w[subwaywinter02_on_w.columns[:]]
subwaywinter12_off_w=subwaywinter12_off_w[subwaywinter02_off_w.columns[:]]

In [83]:
# 1월 자료
subway01=pd.concat([subwaywinter01_on_t,subwaywinter01_off_t,subwaywinter01_on_w,subwaywinter01_off_w],axis=1)

# 2월 자료
subway02=pd.concat([subwaywinter02_on_t,subwaywinter02_off_t,subwaywinter02_on_w,subwaywinter02_off_w],axis=1)

#12월 자료
subway12=pd.concat([subwaywinter12_on_t,subwaywinter12_off_t,subwaywinter12_on_w,subwaywinter12_off_w],axis=1)

In [84]:
subway01.insert(0,'사용월',['202201','202201','202201','202201','202201'])
subway02.insert(0,'사용월',['202202','202202','202202','202202','202202'])
subway12.insert(0,'사용월',['202212','202212','202212','202212','202212'])

#### 3-5) 1월 승하차 상위,하위역

In [85]:
subway01

,사용월,호선명,지하철역,승차상위 5개,호선명,지하철역,하차상위 5개,호선명,지하철역,승차하위 5개,호선명,지하철역,하차하위 5개
0,202201,2호선,강남,2200763,2호선,강남,2140682,6호선,신내,5,7호선,삼산체육관,0
1,202201,2호선,잠실(송파구청),1846733,2호선,잠실(송파구청),1813594,경의선,계양,3,7호선,상동,0
2,202201,2호선,신림,1645306,2호선,신림,1601288,7호선,부천종합운동장,3,6호선,신내,0
3,202201,2호선,홍대입구,1557231,2호선,홍대입구,1584526,경의선,검암,1,7호선,춘의,0
4,202201,2호선,구로디지털단지,1458026,2호선,구로디지털단지,1453666,경의선,김포공항,1,3호선,충무로,0

#### 3-6) 2월 승하차 상위,하위역

In [86]:
subway02

,사용월,호선명,지하철역,승차상위 5개,호선명,지하철역,하차상위 5개,호선명,지하철역,승차하위 5개,호선명,지하철역,하차하위 5개
0,202202,2호선,강남,1820816,2호선,강남,1770543,7호선,삼산체육관,6,일산선,지축,0
1,202202,2호선,잠실(송파구청),1510106,2호선,잠실(송파구청),1472756,6호선,신내,5,7호선,굴포천,0
2,202202,2호선,신림,1411699,2호선,신림,1396047,일산선,지축,4,7호선,까치울,0
3,202202,2호선,홍대입구,1303342,2호선,홍대입구,1330825,경의선,계양,3,6호선,연신내,0
4,202202,2호선,구로디지털단지,1230500,2호선,구로디지털단지,1231689,7호선,부천종합운동장,3,7호선,춘의,0

#### 3-7) 12월 승하차 상위,하위역

In [87]:
subway12

,사용월,호선명,지하철역,승차상위 5개,호선명,지하철역,하차상위 5개,호선명,지하철역,승차하위 5개,호선명,지하철역,하차하위 5개
0,202212,2호선,잠실(송파구청),2534437,2호선,잠실(송파구청),2502185,일산선,지축,14,6호선,신내,0
1,202212,2호선,강남,2341849,2호선,강남,2273728,경원선,창동,11,경의선,검암,0
2,202212,2호선,홍대입구,2088415,2호선,홍대입구,2237576,경의선,계양,6,경의선,김포공항,0
3,202212,2호선,신림,1727008,2호선,삼성(무역센터),1685064,경의선,김포공항,1,일산선,지축,0
4,202212,2호선,삼성(무역센터),1697436,2호선,구로디지털단지,1671859,경의선,검암,1,6호선,연신내,0

### 4) 월별 승하차 총합계, 차이

In [88]:
total=pd.DataFrame([subwaywinter01[['승차인원 합계','하차인원 합계']].sum(),subwaywinter02[['승차인원 합계','하차인원 합계']].sum(),subwaywinter12[['승차인원 합계','하차인원 합계']].sum()],index=['1월','2월','12월'])

In [89]:
total['승하차 인원 차이']=total['승차인원 합계']-total['하차인원 합계']

In [90]:
total

       승차인원 합계    하차인원 합계  승하차 인원 차이
1월   167802022  167210066     591956
2월   142341096  141876217     464879
12월  206173483  205412664     760819

### 5) 월별 혼잡도

In [91]:
con01=subwaywinter01.copy()
con02=subwaywinter02.copy()
con12=subwaywinter12.copy()

In [92]:
con01['승하차인원 총합계']=con01['승차인원 합계']+con01['하차인원 합계']
con02['승하차인원 총합계']=con02['승차인원 합계']+con02['하차인원 합계']
con12['승하차인원 총합계']=con12['승차인원 합계']+con12['하차인원 합계']

# count,bin_dividers=np.histogram(subwaywinter01['승하차인원 총합계'],bins=3)

In [93]:
name=['여유','보통','혼잡']

con01['교통 혼잡도']=pd.cut(x=con01['승하차인원 총합계'],bins=3,labels=name,include_lowest=True)
con02['교통 혼잡도']=pd.cut(x=con02['승하차인원 총합계'],bins=3,labels=name,include_lowest=True)
con12['교통 혼잡도']=pd.cut(x=con12['승하차인원 총합계'],bins=3,labels=name,include_lowest=True)

#### 5-1) 1월 지하철 교통 혼잡도

In [94]:
con01

        호선명 지하철역  승차인원 합계  하차인원 합계 승하차인원 총합계 교통 혼잡도
사용월
202201  1호선  동대문   296063   279038    575101     여유
202201  1호선  동묘앞   242998   251102    494100     여유
202201  1호선  서울역  1085116  1045157   2130273     보통
202201  1호선   시청   505634   505751   1011385     여유
202201  1호선  신설동   347922   335574    683496     여유
...     ...  ...      ...      ...       ...    ...
202201  중앙선   원덕     8552     8343     16895     여유
202201  중앙선   중랑   143181   136782    279963     여유
202201  중앙선   지평     1619     1647      3266     여유
202201  중앙선   팔당    24843    25778     50621     여유
202201  중앙선   회기   607833   586607   1194440     여유

[610 rows x 6 columns]

In [95]:
con01[con01['지하철역']=='영등포']

        호선명 지하철역  승차인원 합계  하차인원 합계 승하차인원 총합계 교통 혼잡도
사용월
202201  경부선  영등포  1047621  1063900   2111521     보통

#### 5-2) 2월 지하철 교통 혼잡도

In [96]:
con02

        호선명 지하철역 승차인원 합계 하차인원 합계 승하차인원 총합계 교통 혼잡도
사용월
202202  1호선  동대문  250311  236114    486425     여유
202202  1호선  동묘앞  203809  212000    415809     여유
202202  1호선  서울역  913411  856407   1769818     보통
202202  1호선   시청  431588  437811    869399     여유
202202  1호선  신설동  298421  292391    590812     여유
...     ...  ...     ...     ...       ...    ...
202202  중앙선   원덕    7838    7322     15160     여유
202202  중앙선   중랑  123144  119124    242268     여유
202202  중앙선   지평    1438    1376      2814     여유
202202  중앙선   팔당   22136   23602     45738     여유
202202  중앙선   회기  524220  517483   1041703     여유

[608 rows x 6 columns]

#### 5-3) 12월 지하철 교통 혼잡도

In [97]:
con12

        호선명 지하철역  승차인원 합계  하차인원 합계 승하차인원 총합계 교통 혼잡도
사용월
202212  1호선  동대문   350825   334703    685528     여유
202212  1호선  동묘앞   271558   281688    553246     여유
202212  1호선  서울역  1547314  1504096   3051410     보통
202212  1호선   시청   769469   758781   1528250     여유
202212  1호선  신설동   402903   387732    790635     여유
...     ...  ...      ...      ...       ...    ...
202212  중앙선   원덕    10381     9826     20207     여유
202212  중앙선   중랑   165584   157627    323211     여유
202212  중앙선   지평     1614     1570      3184     여유
202212  중앙선   팔당    25073    26297     51370     여유
202212  중앙선   회기   799745   765265   1565010     여유

[613 rows x 6 columns]