In [2]:
import pandas as pd

In [3]:
DF=pd.read_excel('C:/Users/KDP-48/Desktop/08-10 프로젝트/아파트(매매)_실거래가_20230810160346.xlsx',header=[16])

c:\Users\KDP-48\anaconda3\envs\MY_PYTHON\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [4]:
DF

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,등기일자,거래유형,중개사소재지
0,대구광역시 군위군 군위읍 동부리,387,387,0,부국타워A,84.5900,202305,17,"28,800",4,2016,89-29,NaN,20230609,중개거래,대구 군위군
1,대구광역시 군위군 군위읍 서부리,255-1,255,1,명성1,80.3200,202304,4,"12,000",3,1991,32,NaN,20230502,중개거래,대구 군위군
2,대구광역시 군위군 군위읍 서부리,214,214,0,부국군위아파트,59.5646,202303,2,"17,000",5,2017,6,NaN,20230303,직거래,-
3,대구광역시 군위군 군위읍 서부리,432-1,432,1,부국아파트名家,83.1150,202306,7,"25,500",2,2019,17,NaN,,중개거래,대구 군위군
4,대구광역시 군위군 군위읍 서부리,432-1,432,1,부국아파트名家,83.1150,202306,12,"26,500",3,2019,17,NaN,20230621,직거래,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12253,대구광역시 중구 수창동,173,173,0,대구역센트럴자이,84.6421,202307,25,"47,700",34,2017,서성로 99,NaN,,중개거래,대구 중구
12254,대구광역시 중구 수창동,173,173,0,대구역센트럴자이,72.8353,202307,26,"43,000",24,2017,서성로 99,NaN,,중개거래,대구 중구
12255,대구광역시 중구 수창동,173,173,0,대구역센트럴자이,84.6421,202307,27,"48,300",35,2017,서성로 99,NaN,,중개거래,대구 중구
12256,대구광역시 중구 수창동,173,173,0,대구역센트럴자이,84.6421,202307,29,"47,000",35,2017,서성로 99,NaN,20230802,중개거래,대구 중구
12257,대구광역시 중구 수창동,173,173,0,대구역센트럴자이,84.4712,202307,29,"49,500",20,2017,서성로 99,NaN,,중개거래,대구 중구

In [5]:
DF=DF[['시군구','전용면적(㎡)','계약년월','거래금액(만원)','건축년도']]

In [6]:
DF=DF.iloc[6:]

In [7]:
DF.columns=['구','전용면적','계약년월','거래금액','건축년도']

In [8]:
DF['계약년월'] = pd.to_datetime(DF['계약년월'], format='%Y%m')
DF_month = DF[(DF['계약년월'].dt.month >= 5) & (DF['계약년월'].dt.month <= 7)]

In [9]:
DF_month['구']=DF_month['구'].apply(lambda x:x.split(' ')[1])

C:\Users\KDP-48\AppData\Local\Temp\ipykernel_14824\1817628514.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DF_month['구']=DF_month['구'].apply(lambda x:x.split(' ')[1])

In [10]:
DF_month

        구     전용면적       계약년월            거래금액  건축년도
7      남구  59.8000 2023-05-01          15,000  1980
8      남구  76.2440 2023-05-01          32,800  2017
9      남구  76.2440 2023-05-01          32,500  2017
10     남구  84.3316 2023-05-01          38,000  2017
11     남구  76.2440 2023-06-01          32,150  2017
...    ..      ...        ...             ...   ...
12253  중구  84.6421 2023-07-01          47,700  2017
12254  중구  72.8353 2023-07-01          43,000  2017
12255  중구  84.6421 2023-07-01          48,300  2017
12256  중구  84.6421 2023-07-01          47,000  2017
12257  중구  84.4712 2023-07-01          49,500  2017

[5859 rows x 5 columns]

In [11]:
DF_month['거래금액']=DF_month['거래금액'].apply(lambda x:x.replace(',',''))

C:\Users\KDP-48\AppData\Local\Temp\ipykernel_14824\3937887841.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DF_month['거래금액']=DF_month['거래금액'].apply(lambda x:x.replace(',',''))

In [14]:
DF_month

        구     전용면적       계약년월   거래금액  건축년도  1평당가격(만원/㎡)
7      남구  59.8000 2023-05-01  15000  1980   250.836120
8      남구  76.2440 2023-05-01  32800  2017   430.197786
9      남구  76.2440 2023-05-01  32500  2017   426.263050
10     남구  84.3316 2023-05-01  38000  2017   450.602147
11     남구  76.2440 2023-06-01  32150  2017   421.672525
...    ..      ...        ...    ...   ...          ...
12253  중구  84.6421 2023-07-01  47700  2017   563.549345
12254  중구  72.8353 2023-07-01  43000  2017   590.373075
12255  중구  84.6421 2023-07-01  48300  2017   570.638016
12256  중구  84.6421 2023-07-01  47000  2017   555.279229
12257  중구  84.4712 2023-07-01  49500  2017   585.998542

[5859 rows x 6 columns]

In [15]:
DF_month['거래금액']=DF_month['거래금액'].apply(lambda x: int(x))
DF_month['전용면적']=DF_month['전용면적'].apply(lambda x: float(x))

a=DF_month.거래금액/DF_month.전용면적

DF_month['1평당가격(만원/㎡)']=a

C:\Users\KDP-48\AppData\Local\Temp\ipykernel_14824\139245783.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DF_month['거래금액']=DF_month['거래금액'].apply(lambda x: int(x))
C:\Users\KDP-48\AppData\Local\Temp\ipykernel_14824\139245783.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DF_month['전용면적']=DF_month['전용면적'].apply(lambda x: float(x))
C:\Users\KDP-48\AppData\Local\Temp\ipykernel_14824\139245783.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DF_month['1평당가격(만원/㎡)']=a

In [16]:
DF_month

        구     전용면적       계약년월   거래금액  건축년도  1평당가격(만원/㎡)
7      남구  59.8000 2023-05-01  15000  1980   250.836120
8      남구  76.2440 2023-05-01  32800  2017   430.197786
9      남구  76.2440 2023-05-01  32500  2017   426.263050
10     남구  84.3316 2023-05-01  38000  2017   450.602147
11     남구  76.2440 2023-06-01  32150  2017   421.672525
...    ..      ...        ...    ...   ...          ...
12253  중구  84.6421 2023-07-01  47700  2017   563.549345
12254  중구  72.8353 2023-07-01  43000  2017   590.373075
12255  중구  84.6421 2023-07-01  48300  2017   570.638016
12256  중구  84.6421 2023-07-01  47000  2017   555.279229
12257  중구  84.4712 2023-07-01  49500  2017   585.998542

[5859 rows x 6 columns]

In [ ]:
##################################################
# 건축년도가 2020 ~ 2023 인것을 순살 아파트라고 칭함
# 건축년도가 ~(2020 ~ 2023) 인것을 비순살 아파트라고 칭함
##################################################

In [57]:
# trading_df = trading_df[trading_df['시군구']!='군위군']


def find_area_month_avg(data, loc,time):
    area=data[data['구']==loc]

    if time=='순살':
        area=area[area['건축년도'].isin([2020,2021,2022,2023])]
    elif time!='순살':
        area=area[~area['건축년도'].isin([2020,2021,2022,2023])]

    return area

def quarter_contract_count(area):
    
    month_dict={}

    fst=area[area['계약년월'].dt.month==5]
    month_dict['5월']=sum(fst['1평당가격(만원/㎡)'].values.tolist())/len(fst)

    fst=area[area['계약년월'].dt.month==6]
    month_dict['6월']=sum(fst['1평당가격(만원/㎡)'].values.tolist())/len(fst)

    fst=area[area['계약년월'].dt.month==7]
    month_dict['7월']=sum(fst['1평당가격(만원/㎡)'].values.tolist())/len(fst)
    
    return print(month_dict)



loc_list = ['중구','동구','서구','남구','북구','수성구','달서구','달성군']

for i in loc_list:
    quarter_contract_count(find_area_month_avg(DF_month,i,'비순살'))

{'5월': 508.18024681897833, '6월': 515.7521767683701, '7월': 515.9341034808801}
{'5월': 346.04617711070057, '6월': 346.8906694101198, '7월': 353.953973522492}
{'5월': 355.03752989479045, '6월': 333.8291503163725, '7월': 322.8727279185223}
{'5월': 364.7498286955236, '6월': 357.5675110516141, '7월': 379.50128792269953}
{'5월': 354.0339685178973, '6월': 353.5283382007332, '7월': 347.99110687888}
{'5월': 615.2328237618076, '6월': 608.6400546553632, '7월': 598.9532548745959}
{'5월': 372.650551149194, '6월': 385.0377719635597, '7월': 373.1382113170013}
{'5월': 316.80008725969714, '6월': 316.4479270906265, '7월': 316.87685676165563}